// Custom.scss

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary: #D4CBE5;
$secondary:#CFC7D2;
$success: #BEA8AA;
$warning: #9E9885;
$danger: #7C7F65;


// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
// Create your own map
$custom-colors: (
  "primary-color": #571702,
  "secondary-color": #cccc,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);


// 5. Import all the rest of Bootstrap 
@import "../node_modules/bootstrap/scss/bootstrap";


// Then add additional custom code here